.popup-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.48);
  z-index: 999;
}
.popup {
  width: 40%;
  min-height: 30%;
  padding: 12px;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
}
.popup h2 {
  font-size: 20px;
  font-weight: bold;
}
.popup p {
  font-size: 16px;
  font-weight: 400;
  color: #c9002e;
}
.popup div {
  width: 100%;
  display: flex;
  margin-top: 80px;
  justify-content: end;
}
.popup div button {
  margin: 0 12px;
}
.popup div button:hover {
  opacity: 0.9;
}
/* dialog {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
dialog form {
  background: red;
}*/

.result-modal {
  border: none;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  border-radius: 8px;
  padding: 2rem;
}

.result-modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.result-modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.result-modal p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
}

.result-modal-button {
  margin: 1rem 0 0 0 !important;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #c9002e !important;
  color: #edfcfa;
  font-size: 1.2rem;
  cursor: pointer;
}
