.dashboard {
  width: 100vw;
  min-height: 100vh;
  background-color: #f7f7f7;
  display: flex;
  overflow: hidden;
}
.dashboard-right {
  width: 25%;
  min-height: 100%;
  background: #866528;
  display: flex;
  align-items: center;
  color: white;
  padding: 20px 0;
  flex-direction: column;
}
.dashboard-right h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 12px 0;
}

.dash-para {
  margin: 20px 0;
  font-size: 25px;
  cursor: pointer;
  padding: 8px 16px;
  transition: box-shadow 0.5s ease, border-color 0.5s ease;
  border-radius: 12px;
}
.dash-para:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  border-left: 3px solid #ccc;
}

/* .dashboard-left */
.dashboard-left {
  margin-left: 12px;
  width: 75%;
  padding: 12px;
  min-height: 100%;
}
.dashboard-left h2 {
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
  font-size: 40px;
}
.dashboard-left-button {
  color: white;
  background: #c9002e;
  margin: 12px 450px;
  cursor: pointer;
}
.dashboard-left hr {
  height: 3px;
  border: none;
  background: #c9002e;
}
