.dashboard {
  width: 100vw;
  min-height: 100vh;
  background-color: #f8f8f8;
  display: flex;
}

.dashboard-right {
  width: 25%;
  min-height: 100%;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  color: white;
  padding: 20px 0;
  flex-direction: column;
}

.dashboard-right h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 12px 0;
}

.dash-para {
  margin: 10px 0;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.dash-para:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dashboard-left {
  margin-left: 12px;
  width: 75%;
  padding: 20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-left h2 {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  font-size: 32px;
}

.dashboard-left-button {
  color: white;
  background: #c9002e;
  margin: 12px auto;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard-left-button:hover {
  background-color: #96001b;
}

.dashboard-left hr {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #c9002e;
  margin: 20px 0;
}
