.footer {
  background-color: #222;
  color: #fff;
  padding: 50px 0;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footerLogo {
  width: 30%;
}
.footerLogo p {
  text-align: justify !important;
  margin-right: 25px;
}
.footerLinks {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.footerSection {
  width: 22%;
}

.footerSection h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footerSection ul li:hover {
  color: #ddd;
}

hr {
  border: none;
  border-top: 1px solid #444;
  margin: 20px 0;
}

.footer p {
  text-align: center;
}
