#dash {
    width: 100vw;
    height: 100vh;
    background: url("../../assets/bg.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
}
.about {
    width: 40%;
    min-height: auto;
    margin-left: 5%;
}
.about h2 {
    margin: 20px 15px;
    font-weight: 500;
    font-size: 3rem;
    text-shadow: rgba(76, 77, 71, 0.86) 0px 5px 15px;
    color: #fff;
}
.about p {
    margin-left: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
}
.about button {
    border-radius: 40px;
    background: #000;
    border: none;
    position: relative;
    color: #fff;
    padding: 12px 14px;
    cursor: pointer;
    margin: 2rem 1rem;
    transition: transform 0.2s;
}
.about button:hover {
    transform: translateY(-4px);
}