.add-product {
  width: 100%;
  margin-top: 50px;
  min-height: 50vh;
  display: flex;
}
.vertical-line {
  width: 2px;
  height: 60vh;
  background: black;
  margin: 0 20px;
}
.add-product button {
  position: absolute;
  bottom: -10px;
  left: 350px;
}
.add-product button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.add-product-left {
  display: flex;
  width: 50%;
  min-height: 40%;
  flex-direction: column;
}
.add-product-left label span,
.add-product-right label span {
  color: red;
  position: absolute;
  top: 0;
  left: -9px;
}
.add-product-left label,
.add-product-right label {
  position: relative;
  font-size: 22px;
  font-weight: 350;
}
.add-product-right {
  width: 50%;
  min-height: 40%;
  display: flex;
  flex-direction: column;
}
.add-product-left input,
.add-product-right input {
  background: none;
  border: none;
  font-weight: 450;
  font-size: 17px;
  margin: 8px 0;
  padding: 8px 2px;
  outline: none;
  border-bottom: 2px solid #866528;
}
.add-product-left select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin: 8px 0;
}

.add-product-left :focus {
  outline: none;
  border-color: #866528;
}
.popup-cancel {
  margin-left: 400px;
  margin-top: 60px;
  background: #c9002e;
  width: 120px;
  padding: 12px;
  color: white !important;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}
.add-product-button {
  color: white;
  background: #c9002e;
  margin: 12px 450px;
  cursor: pointer;
}
